// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root{
    --color-claro: #adbff7;
    --color-oscuro: #4b49c9;
    --espaciado-base: 1rem;
    --espaciado-grande: 2rem;

    --color-slide-title: #a4d6f9;
}
